body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

.starter-template .table{
	text-align: left;
}

.lang{
    height: 30px;
    margin-top: 10px;
    width: 40px;
}

.jumbotron{
	background: #F5EEE5;
}

.myname{
	font-family: cursive; 
}

.myname a{
	color: black;
}

.jumbotron p.slogan_mini{
	font-size: 13px;
}

.panel-body i{
    margin-right: 10px;
}