body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

.starter-template .table{
	text-align: left;
}

.lang{
    height: 30px;
    margin-top: 10px;
    width: 40px;
}

.jumbotron{
	background: #F5EEE5;
}

.myname{
	font-family: cursive; 
}

.myname a{
	color: black;
}

.jumbotron p.slogan_mini{
	font-size: 13px;
}

.panel-heading{
	background: #E6A422 !important;
}

.panel-title{
	font-weight: bold;
}

.panel{
	background: #F5EEE5;
}

.panel-body p{
	font-size: 12px;
}

.panel-body span{
	float: left;
}

.panel-body .row .col-md-10{
	font-size: 12px;
	text-align: left;
	margin: 8px 0 0 10px;
}

.tagpersonal{
	margin: 2px;
	font-size: 13px;
}

.panel-projects{
	margin-top: 10px;
}