body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.lang{
    height: 30px;
    margin-top: 10px;
    width: 40px;
}

.myname{
	font-family: cursive; 
}

.jumbotron{
	background: #F5EEE5;
}

.list-group-item {
    background-color: #F5EEE5;
    border: none;
}