<div class="starter-template">
	<h4 translate>project.title</h4>
	<p translate>project.subtitle</p>
	<tabset>

		<tab heading="{{'project.personal' | translate}} ({{filterPersonal.length}})">

			<div class="row">
				<div class="col-md-12">
					<input type="text" class="form-control" ng-model="filterProjectPersonal" placeholder="{{'project.placeholder_personal' | translate}}">
				</div>
			</div>

			<div class="row">
				<div ng-repeat="pp in filterPersonal = (projects.personal_projects | filter:filterProjectPersonal)" class="col-md-4">
					<div class="panel panel-default panel-projects">
						<div class="panel-heading">
							<h3 class="panel-title"><i ng-class="(pp.type == 'Web' ? 'fa fa-desktop fa-2x' : 'fa fa-mobile fa-2x')"></i> {{pp.name}}</h3>
						</div>
						<div class="panel-body">
							<p><i class="fa fa-info-circle fa-2x"></i> {{pp.description}}</p>

							<div ng-if="pp.type == 'Web'">
								<p><i class="fa fa-link"></i> <a href="{{pp.url}}">{{pp.url}}</a></p>	
							</div>

							<div ng-if="pp.type != 'Web'">
								<p><i class="fa fa-apple fa-2x"></i> <a href="{{pp.url_ios}}">Link iOS</a></p>
								<p><i class="fa fa-android fa-2x"></i> <a href="{{pp.url_android}}">Link Android</a></p>	
							</div>
							
							<p>
								<div ng-repeat="author in pp.authors">
									<i class="fa fa-user"></i> {{author.name}} ,
								</div>
							</p>
							<p><i class="fa fa-calendar"></i> {{pp.date}}</p>
							<span class="label label-default tagpersonal" ng-repeat="tag in pp.tags">
								<i class="fa fa-tag"></i> {{tag.name}}
							</span>
						</div>
					</div>
				</div>
			</div>

			<div ng-show="filterPersonal.length == 0">
				<div class="alert alert-warning" role="alert" translate>
					project.no_results
				</div>
			</div>
		</tab>

		<tab heading="{{'project.company' | translate}}  ({{filterEmpresas.length}})">

			<div class="row">
				<div class="col-md-12">
					<input type="text" class="form-control" ng-model="filterProjectCompany" placeholder="{{'project.placeholder_company' | translate}}">
				</div>
			</div>

			<div class="row">
				<div ng-repeat="pp in filterEmpresas = (projects.company_projects | filter:filterProjectCompany)" class="col-md-4">
					<div class="panel panel-default panel-projects">
						<div class="panel-heading">
							<h3 class="panel-title"><i ng-class="(pp.type == 'Web' ? 'fa fa-desktop fa-2x' : 'fa fa-mobile fa-2x')"></i> {{pp.name}}</h3>
						</div>
						<div class="panel-body">
							<p><i class="fa fa-info-circle fa-2x"></i> {{pp.description}}</p>
							<div ng-if="pp.type == 'Web'">
								<p><p><i class="fa fa-link"></i> <a href="{{pp.url}}">{{pp.url}}</a></p>	
							</div>

							<div ng-if="pp.type != 'Web'">
								<p><i class="fa fa-apple fa-2x"></i> <a href="{{pp.url_ios}}">Link iOS</a></p>
								<p><i class="fa fa-android fa-2x"></i> <a href="{{pp.url_android}}">Link Android</a></p>	
							</div>
							<p>
								<div ng-repeat="author in pp.authors">
									<i class="fa fa-user"></i> {{author.name}} ,
								</div>
							</p>
							<p><i class="fa fa-calendar"></i> {{pp.date}}</p>
							<span class="label label-default tagpersonal" ng-repeat="tag in pp.tags">
								<i class="fa fa-tag"></i> {{tag.name}}
							</span>
						</div>
					</div>
				</div>
			</div>

			<div ng-show="filterEmpresas.length == 0">
				<div class="alert alert-warning" role="alert" translate>
					project.no_results
				</div>
			</div>
		</tab>
	</tabset>
</div>