<div class="starter-template">
	<h4>Proyectos en los que he participado</h4>
	<p>A continuación se detalla los proyectos que he realizado o participado. Este listado se está obteniendo mediante un fichero JSON alojado en "services/projects.json".</p>
	<tabset>

		<tab heading="Personales ({{filterPersonal.length}})">

			<div class="row">
				<div class="col-md-12">
					<input type="text" class="form-control" ng-model="filterProjectPersonal" placeholder="Filtrar proyecto personal...">
				</div>
			</div>

			<div class="row">
				<div ng-repeat="pp in filterPersonal = (projects.personal_projects | filter:filterProjectPersonal)" class="col-md-4">
					<div class="panel panel-default panel-projects">
						<div class="panel-heading">
							<h3 class="panel-title">{{pp.name}} ({{pp.type}})</h3>
						</div>
						<div class="panel-body">
							<p>{{pp.description}}</p>

							<div ng-if="pp.type == 'Web'">
								<p><a href="{{pp.url}}">{{pp.url}}</a></p>	
							</div>

							<div ng-if="pp.type != 'Web'">
								<p><a href="{{pp.url_ios}}">{{pp.url_ios}}</a></p>
								<p><a href="{{pp.url_android}}">{{pp.url_android}}</a></p>	
							</div>
							
							<p>
								<div ng-repeat="author in pp.authors">
									{{author.name}} ,
								</div>
							</p>
							<p>{{pp.date}}</p>
							<span class="label label-default tagpersonal" ng-repeat="tag in pp.tags">{{tag.name}}</span>
						</div>
					</div>
				</div>
			</div>

			<div ng-show="filterPersonal.length == 0">
				<div class="alert alert-danger" role="alert">
					No se han encontrado proyectos en la web con lo que estás buscando
				</div>
			</div>
		</tab>

		<tab heading="En empresas ({{filterEmpresas.length}})">

			<div class="row">
				<div class="col-md-12">
					<input type="text" class="form-control" ng-model="filterProjectCompany" placeholder="Filtrar proyecto en empresa...">
				</div>
			</div>

			<div class="row">
				<div ng-repeat="pp in filterEmpresas = (projects.company_projects | filter:filterProjectCompany)" class="col-md-4">
					<div class="panel panel-default panel-projects">
						<div class="panel-heading">
							<h3 class="panel-title">{{pp.name}} ({{pp.type}})</h3>
						</div>
						<div class="panel-body">
							<p>{{pp.description}}</p>
							<div ng-if="pp.type == 'Web'">
								<p><a href="{{pp.url}}">{{pp.url}}</a></p>	
							</div>

							<div ng-if="pp.type != 'Web'">
								<p><a href="{{pp.url_ios}}">{{pp.url_ios}}</a></p>
								<p><a href="{{pp.url_android}}">{{pp.url_android}}</a></p>	
							</div>
							<p>
								<div ng-repeat="author in pp.authors">
									{{author.name}} ,
								</div>
							</p>
							<p>{{pp.date}}</p>
							<span class="label label-default tagpersonal" ng-repeat="tag in pp.tags">{{tag.name}}</span>
						</div>
					</div>
				</div>
			</div>

			<div ng-show="filterEmpresas.length == 0">
				<div class="alert alert-danger" role="alert">
					No se han encontrado proyectos con lo que estás buscando
				</div>
			</div>
		</tab>
	</tabset>
</div>