<div class="starter-template">
	<div class="jumbotron">
		<h1 class="myname"><img ng-src="assets/img/me.png"></img>Gorkaeff</h1>
		<p class="lead" translate>home.slogan</p>
		<hr />
		<p>{{'home.skills' | translate}}</p>
		<table class="table">
			<thead>
				<tr>
					<th translate>home.table_skill_name</th>
					<th translate>home.table_skill_value</th>
					<th translate>home.table_skill_description</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="skill in skills">
					<td>{{skill.name}}</td>
					<td>
						<rating ng-model="skill.value" max="10" readonly="true"></rating>
					</td>
					<td translate>{{skill.description}}</td>
				</tr>
			</tbody>
		</table>

		<table class="table">
			<tbody>
				<tr>
					<td class="borderno"><img ng-src="assets/img/icono-android.png" /></td>
					<td class="borderno"><img ng-src="assets/img/icono-apple.png" /></td>
					<td class="borderno">Github</td>
					<td class="borderno">Páginas web</td>
				</tr>
				<tr>
					<td ng-repeat="sl in socialLinks"><a href="{{sl.url}}" translate>{{sl.tag}}</a></td>
				</tr>
			</tbody>
		</table>


	</div>
</div>