<div class="starter-template">
	<div class="jumbotron">

		<h1 class="myname">
			<img ng-src="assets/img/me.png"></img><a href="#/contact">Gorkaeff</a>
		</h1>
		<p class="lead" translate>home.slogan</p>

		<p class="slogan_mini" translate>home.slogan_mini</p>

		<hr />

		<div class="row">

			<!-- Etiquetas -->
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" translate>home.software_title</h3>
					</div>
					<div class="panel-body">
						<p translate>home.software_gorka</p>
						<span class="label {{tag.label}} tagpersonal" ng-repeat="tag in myTags">{{tag.name}}</span>
					</div>
				</div>
			</div>

			<!-- Proyectos -->
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" translate>home.projects_title</h3>
					</div>
					<div class="panel-body">
						<p translate>home.description_projects</p>
						<a href="#/project" translate>home.see_projects</a>
					</div>
				</div>
			</div>

			<!-- Enlaces -->
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" translate>home.interest_links</h3>
					</div>
					<div class="panel-body">
						<div class="row" ng-repeat="sl in socialLinks">
							<div class="col-md-1">
								<i class="{{sl.classIcon}}"></i>
							</div>
							<div class="col-md-10">
								<a href="{{sl.url}}" translate>{{sl.tag}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>